---
type Props = {
  title?: string;
  description?: string;
  color?: string;
};
import BackgroundCircle from "../components/react/BackgroundCircle"
import "@fontsource/bebas-neue";
import "@fontsource/press-start-2p";


const {
  title = "Generador de cartas de cumpleaños",
  color = "bg-pink-500",
  description = "Este es un generador de cartas de cumpleaños generico para esos que se nos olvidan los cumpleaños y quiere dar algo especial y diferente",
} = Astro.props;

console.log(color);

const classesBg = `absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full ${`bg-${color}`} opacity-20 blur-[100px]`;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="h-screen">
    <div
      class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
    >
      <BackgroundCircle color={color} />
    </div>
    <div
      class="w-full h-full flex md:justify-center items-center 2xl:max-w-[60%] 2xl:m-auto md:p-4"
    >
      <slot />
    </div>
  </body>
</html>

<style is:global define:vars={{color}}>
  * {
    font-family: "Bebas Neue", sans-serif;
  }

  .text-game {
    font-family: "Press Start 2P", system-ui;
  }
</style>
